<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.admin.mapper.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.admin.model.entity.sys.SysOrg">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="org_name" property="orgName" />
        <result column="org_code" property="orgCode" />
        <result column="org_type" property="orgType" />
        <result column="org_sort" property="orgSort" />
        <result column="org_status" property="orgStatus" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="version" property="version" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, parent_ids, org_name, org_code, org_type, org_sort, org_status, delete_flag, version, create_by, create_time, update_by, update_time
    </sql>

</mapper>
